{
  "root": true,
  "plugins": ["homer0"],
  "extends": ["plugin:homer0/browser"],
  "rules": {
    "dynamic-import-chunkname": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
