{
  "extends": ["../../.eslintrc"],
  "env": {
    "browser": true,
  },
  "rules": {
    "dynamic-import-chunkname": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
